<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Infinite Scroll </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <ion-infinite-scroll position="top" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-card
    *ngFor="let message of displayedMessages$ | async; trackBy: identify"
    style="height: 100px"
    [id]="message.id"
  >
    <div [hidden]="showContent(message.id)">{{message.content}}</div>
  </ion-card>
</ion-content>
